language: python

sudo: required
dist: trusty

python: "3.5"

cache:
  directories:
    - $HOME/.cache/pip

addons:
  apt:
    packages:
      - libxml2-dev
      - libxslt1-dev
      - language-pack-es

install:
  - pip3 install --upgrade "Nikola[extras]"
  - nikola plugin -i import_feed

script:
  - <feeds.list xargs -I % nikola import_feed --url=% -o .
  - nikola build

after_success:
  - chmod 755 ./.push_gh_pages.sh
  - test $TRAVIS_PULL_REQUEST == "false" && test $TRAVIS_BRANCH == "master" && ./.push_gh_pages.sh
